.App {
    padding: 30px;
    display: flex;
    font-family: Hermit, sans-serif;
    font-size: 14px;
}

.App > div {
    margin-right: 50px;
}

.addButton {
    height: 50px;
    margin: 50px;
    align-self: flex-start;
    cursor: pointer;
}

