* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mainApp {
    font-family: Bahnschrift, sans-serif;
}

.todolistWrapper {
    padding: 10px;
    margin: 15px 0;
}

.todolistsContainer {
    max-width: 100%;
}

.addTodolistWrapper {
    margin: 40px 0;
}

@media (max-width: 1072px) {
    .todoWrapper {
        justify-content: center;
    }

    .addTodolistWrapper {
        justify-content: center;
    }
}